body{
  background:grey;
  -moz-user-select: none;
   -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}
.container{
 /*   width:1400px; height:740px; margin:auto auto;
    box-shadow: 3px 3px 5px black;border-radius:5px;*/
    background: url(bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.my_menu li
{
  display: inline;
  list-style-type: none;
  padding-left: 15%;
  color:white;
  font-family: 'inheritance_fontregular';
  font-size:30px;
  text-decoration: none;
}
.my_link:hover
{
  transition: all 0.2s ease;
  text-shadow: 4px 4px 1px black;
}
a:link{
  /*color: white !important;*/
  text-decoration: none;
}
.heading{
    -ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
    padding-left:5%;
    padding-top:50px;
    color:white;
    font-size:50px;
    position: relative; margin: 0 auto; text-align: center;
    z-index:3;
}

.heading_shadow{
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
    padding-left:30%;
    padding-top:5%;
    font-size:50px;
    position: absolute; top: 0; width: 50%;
    z-index:2;
}

.quote{
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
    padding-left:5%;
    padding-top:20px;
    color:white;
    font-size:20px;
    position: relative; margin: 0 auto; text-align: center;

}
.quote2{
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
    padding-left:5%;
    padding-top:5px;
    color:white;
    font-size:30px;
    position: relative; margin: 0 auto; text-align: center;
}


@font-face {
    font-family: 'inheritance_fontregular';
    src: url('inheritance.eot');
    src: url('inheritance.eot?#iefix') format('embedded-opentype'),
         url('inheritance.woff') format('woff'),
         url('inheritance.ttf') format('truetype'),
         url('inheritance.svg#inheritance_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: 'inheritance_fontregular';
}
.right
{
  font-size:17px;
  width:800px;height:100px;
  z-index:-1;
  float:right;
  color:white;
  text-align:justify;
  text-justify:inter-word;
  padding-right:5%;
  padding-top:5%;
  line-height: 150%;
  font-family:'Courier New';
  font-weight:bold;
}
.text
{
  opacity:0.6;

}
.left_links
{
  font-size:17px;
  width:500px;height:100px;
  color:white;
  text-align:justify;
  text-justify:inter-word;
  padding-left:5%;
  padding-top:5%;
  line-height: 150%;
  font-family:'Courier New';
  font-weight:bold;
}
.write{
    width:235px; height:198px;
    box-shadow: 8px 8px 12px black;border-radius:5px;
    background-image: url("write12.jpg");
    width: 235px;
    background-repeat: no-repeat;
    /*opacity: 0.4;*/
}
.write:hover
{
  /*-moz-box-shadow: 8px 8px 100px black;
  -webkit-box-shadow: 8px 8px 100px black;
  box-shadow: 8px 8px 100px black;*/
  opacity:0.8;
  transition: all 0.5s ease;
}
.read{
    width:235px; height:198px;
    box-shadow: 8px 8px 12px black;border-radius:5px;
    background-image: url("read12.jpg");
    background-repeat: no-repeat;
}
.read:hover{
 /*-moz-box-shadow: 8px 8px 100px black;
  -webkit-box-shadow: 8px 8px 100px black;
  box-shadow: 8px 8px 100px black;*/
  opacity:0.8;
  transition: all 0.5s ease;

}
.read_title
{
  font-family: 'inheritance_fontregular';
  color:black;
  padding-left: 10%;
  padding-top: 50%;
  font-size:30px;
}

.write_title
{
  font-family: 'inheritance_fontregular';
  color:white;
  padding-left: 10%;
  padding-top: 50%;
  font-size:30px;
}

/*--------------------------------------------------------------------*/
inputs:-webkit-input-placeholder {
    color:    #b5b5b5;
}

inputs-moz-placeholder {
    color:    #b5b5b5;
}

 .inputs  {
width:170px;
padding: 15px 25px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 400;
font-size: 14px;
color: #9D9E9E;
text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
background: #FFF;
border: 1px solid #FFF;
border-radius: 5px;
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}
.inputs:focus {
   background: #DFE9EC;
color: #414848;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline:0;
}

  .inputs:hover   {
background: #DFE9EC;
color: #414848;
}
